body {
    background: url('images/rainbow.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#barometer_pencil {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 30%;
    height: 35%;
}

#barometer_pencil img {
    width: 25%;
    height: auto;
}

table.center-table {
    margin-left: auto;
    margin-right: auto;
}

#yellowCircleInput {
    display: none;
}

#greenCircleInput {
    display: none;
}

#blueWaveInput {
    display: none;
}

#yellowWaveInput {
    display: none;
}

#purpleWaveInput {
    display: none;
}

#purpleCircleInput {
    display: none;
}

#blueTriangleInput {
    display: none;
}

#redTriangleInput {
    display: none;
}

#yellowTriangleInput {
    display: none;
}

#greenWaveInput {
    display: none;
}

#blueRibbonInput {
    display: none;
}

#redRibbonInput {
    display: none;
}

#greenTriangleInput {
    display: none;
}

#purpleTriangleInput {
    display: none;
}

#yellowStarInput {
    display: none;
}

#blueStarInput {
    display: none;
}

#greenRibbonInput {
    display: none;
}

#purpleRibbonInput {
    display: none;
}

#yellowRibbonInput {
    display: none;
}

#redStarInput {
    display: none;
}

#greenStarInput {
    display: none;
}

#purpleStarInput {
    display: none;
}

#redWaveInput {
    display: none;
}

#blueCircleInput {
    display: none;
}

#redCircleInput {
    display: none;
}

#sound {
    top: 0;
    right: 0;
    position: fixed;
    width: 10%;
    height: 10%;
    display: none;
}

#sound_img {
    width: 80%;
    height: auto;
}