body {
    background: url('jungle_1.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sound {
    top: 0;
    right: 0;
    position: fixed;
    width: 40%;
    height: 40%;
    display: none;
}

#sound_img {
    width: 15%;
    height: auto;
}

#barometer_pencil {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 40%;
    height: 40%;
}

#barometer_pencil img {
    width: 50%;
    height: auto;
}

#red_pencil {
    bottom: 0;
    right: 0;
    position: fixed;
    margin: 8px;
}

#red_pencil img {
    width: 120px;
    margin-right: 24px;
    height: auto;
}

#giraffe_1 {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

#giraffe_1 img {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    bottom: 0;
}

#giraffe_2 {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    margin-left: 400px;
}

#giraffe_2 img {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    bottom: 0;
}

#giraffe_3 {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    margin-left: 800px;
}

#giraffe_3 img {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    bottom: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.red-table {
    margin-left: 10%;
    margin-top: 10%;
}